* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Manrope;
    src: url(assets/fonts/Manrope-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.header {
    background: url(assets/images/background.png) no-repeat;
    background-size: cover;
}

.foodie-top-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.foodie-top-row__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.navigation-top {
    width: 80%;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__item {
    list-style-type: none;
}

.list__link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.login {
    padding: 10px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    color: #FE724C;
    cursor: pointer;
}

.hamburger-menu {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}

.hamburger-menu span {
    position: absolute;
    width: 30px;
    height: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    transition: transform 0.5s;
}

.hamburger-menu span:nth-of-type(1) {
    top: calc(50% - 10px);
}

.hamburger-menu span:nth-of-type(3) {
    top: calc(50% + 10px);
}

.hamburger-menu.active span:nth-of-type(2) {
    transform: translateX(100%);
}

.hamburger-menu.active span:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.active {
    position: fixed;
    right: 10%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.header-content__left-side {
    width: 50%;
}

.head-one {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.header-abstract {
    font-family: Roboto;
    font-size: 17px;
    line-height: 1.5em;
    text-align: justify;
    color: #FFFFFF;
    padding: 30px 0 50px;
}

.top-buttons {
    display: flex;
    align-items: center;
}

.app-store-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FE724C;
    border-radius: 21.5px;
    padding: 10px 20px;
    cursor: pointer;
}

.google-play-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 21.5px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}

.logo-image {
    margin-right: 10px;
}

.logo-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.about-content {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 110px;;
}

.about-content__left-side {
    width: 42.5%;
}

.about-content__right-side {
    width: 52.5%;
}

.image-group {
    display: flex;
    justify-content: space-between;
}

.image-group_row-one {
    align-items: flex-end;
    margin-bottom: 20px;
}

.image-group_row-two {
    align-items: flex-start;
}

.head-two {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2em;
}

.about-content__right-side .head-two {
    position: relative;
}

.about-content__right-side .head-two::after {
    content: "";
    display: block;
    width: 43px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background: #EFCA08;
}

.about-abstract {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 2em;
    text-align: justify;
    padding: 30px 0 10px;
}

.about-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 2em;
    text-align: justify;
    color: #666666;
}

.app-work {
    background: #FE724C;
}

.app-work-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 85px;
}

.app-work-content__left-side {
    width: 45%;
}

.app-work-content__right-side {
    width: 55%;
}

.app-work-content__left-side .head-two {
    position: relative;
    color: #FFFFFF;
}

.app-work-content__left-side .head-two::after {
    content: "";
    display: block;
    width: 63px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background: #FFFFFF;
}

.sequence-list {
    padding-top: 95px;
}

.sequence-list__item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
}

.sequence-list__icon {
    padding: 35px;
    border-radius: 56px;
    background-color: #FFFFFF;
}

.sequence-list__text {
    padding-left: 40px;
}

.head-three {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.app-work-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.7em;
    color: #FFFFFF;
    padding-top: 15px;
}

.app-work-content__right-side {
    background: url(assets/images/mobile-two-background.png) center no-repeat;
    background-size: cover;
}

.mobile-two {
    display: block;
    margin: auto;
}

.screenshots-content {
    padding: 60px 0 75px;
}

.screenshots-content .head-two {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.screenshots-content .head-two::after {
    content: "";
    display: block;
    width: 63px;
    height: 2px;
    position: absolute;
    left: calc(50% - 63px/2);
    bottom: -10px;
    background: #FE724C;
}

.mobiles-slider-block {
    position: relative;
    padding: 0 40px 0;
}

.arrow {
    position: absolute;
    top: calc(50% - 20px);
    cursor: pointer;
}

.arrow__left {
    left: 0px;
}

.arrow__right {
    right: 0px;
}

.mobile-screenshot img {
    display: block;
    width: 289px;
    height: 579px;
    margin: auto;
}

.clients-speak {
    background: #F4F5F7;
}

.clients-speak-content {
    padding: 65px 0 90px;
}

.clients-speak-content .head-two {
    text-align: center;
    padding-bottom: 25px;
}

.clients-speak-abstract {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    color: #18191F;
    padding-bottom: 45px;
}

.testimonial__card {
    position: relative;
    width: 350px;
    height: 192px;
    border-radius: 10px;
    background: #FFFFFF;
    margin: auto;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
}

.testimonial__card::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    background: #FFFFFF;
}

.testimonial__card .head-three {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #18191F;
    padding: 25px 0 10px;
}

.clients-speak-text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
    color: #18191F;
    opacity: 0.8;
    padding: 0 25px 0;
}

.testimonial__client-details {
    padding-top: 30px;
}

.client-picture {
    display: block;
    margin: auto;
}

.full-name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    color: #18191F;
    padding: 10px 0 5px;
}

.designation {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    color: #474A57;
}

.testimonials-slider .slick-dots li button::before {
    content: url(assets/images/none-selected-dot.svg);
    opacity: 1;
}

.testimonials-slider .slick-dots li.slick-active button::before {
    content: url(assets/images/selected-dot.svg);
    opacity: 1;
}

.testimonials-slider .slick-dots {
    bottom: -45px;
}

.footer {
    background: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px 0 45px;
}

.footer-content__left-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-content__right-side {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navigation-bottom {
    padding: 40px 0 20px;
}

.copyright {
    font-family: Roboto;
    font-size: 15px;
    line-height: 1.2em;
    color: #D9DBE1;
}

.app-download {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 2em;
    color: #D9DBE1;
}

.badges {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1401px) {
    .hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 1550px) {
    .image-group img:first-child {
        margin-right: 7px;
    }
}

@media screen and (max-width: 1400px) {
    .navigation-top {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: coral;
        transform: translateX(-100%);
        z-index: 1;
        transition: transform 0.5s;
    }
    
    .navigation-top.active {
        transform: translateX(0);
    }
    
    .navigation-top .list {
        flex-direction: column;
        height: 100%;
    }
    
    .navigation-top .list__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        border-bottom: 2px solid #FFFFFF;
    }

    .navigation-top .list__item:last-child {
        border: none;   
    }

    .navigation-top .list__item a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }

    .login {
        display: none;
    }

    .about-content, .app-work-content {
        flex-direction: column;
        align-items: center;
    }
    
    .about-content__left-side, .about-content__right-side,
    .app-work-content__left-side, .app-work-content__right-side {
        width: 100%;
    }

    .image-group_row-one, .image-group_row-two {
        justify-content: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer-content__left-side {
        width: 100%;
    }
    
    .footer-content__right-side {
        width: 100%;
        padding-top: 60px;
    }

    .navigation-bottom .list {
        justify-content: flex-start;
    }

    .navigation-bottom .list .list__item {
        padding-right: 25px;
    }

    .badges {
        justify-content: flex-start;
    }

    .badges img:first-child {
        padding-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .header-content__right-side {
        display: flex;
        justify-content: flex-end;
    }
    
    .mobile-one {
        width: 80%;
    }
}

@media screen and (max-width: 880px) {
    .header-content__left-side {
        width: 100%;
    }

    .header-content__right-side {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .about-content__left-side {
        order: 1;
    }

    .image-group_row-one {
        display: none;
    }

    .image-group_row-two img:first-child {
        display: none;
    }

    .image-group_row-two img:last-child {
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .mobile-two {
        width: 100%;
        height: auto;
    }

    .navigation-bottom .list {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-bottom .list .list__item {
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 480px) {
    .mobile-screenshot img {
        width: 100%;
        height: auto;
    }

    .testimonial__card {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 420px) {
    .top-buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .google-play-button {
        margin: 0;
    }

    .sequence-list__item {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .sequence-list__text {
        text-align: center;
        padding: 0;
    }
}