* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.header {
    height: 853px;
    background: url(assets/images/background.png) no-repeat;
    background-size: cover;
}

.foodie-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.foodie-top-row__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
}

.navigation-top {
    width:80%;
}

.list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-top__item {
    list-style-type: none;
}

.list-top__link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.login {
    padding: 10px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
    color: #FE724C;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__left-side {
    width: 50%;
}

.head-one {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.header-abstract {
    font-family: Roboto;
    font-size: 17px;
    line-height: 1.5em;
    text-align: justify;
    color: #FFFFFF;
    padding: 30px 0 50px;
}

.top-buttons {
    display: flex;
    align-items: center;
}

.app-store-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FE724C;
    border-radius: 21.5px;
    padding: 10px 20px;
    cursor: pointer;
}

.google-play-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 21.5px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}

.logo-image {
    margin-right: 10px;
}

.logo-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.about {
    height: 887px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.about-content__left-side {
    width: 42.5%;
}

.about-content__right-side {
    width: 52.5%;
}

.image-group {
    display: flex;
    justify-content: space-between;
}

.image-group_row-one {
    align-items: flex-end;
    margin-bottom: 20px;
}

.image-group_row-two {
    align-items: flex-start;
}

.head-two {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2em;
}

.about-content__right-side .head-two {
    position: relative;
}

.about-content__right-side .head-two::after {
    content: "";
    display: block;
    width: 43px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background: #EFCA08;
}

.about-abstract {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 2em;
    text-align: justify;
    padding: 30px 0 10px;
}

.about-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 2em;
    text-align: justify;
    color: #666666;
}

.app-work {
    height: 1013px;
    background: #FE724C;
}

.app-work-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.app-work-content__left-side {
    width: 45%;
}

.app-work-content__right-side {
    width: 55%;
}

.app-work-content__left-side .head-two {
    position: relative;
    color: #FFFFFF;
}

.app-work-content__left-side .head-two::after {
    content: "";
    display: block;
    width: 63px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background: #FFFFFF;
}

.sequence-list {
    padding-top: 95px;
}

.sequence-list__item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
}

.sequence-list__icon {
    padding: 35px;
    border-radius: 56px;
    background-color: #FFFFFF;
}

.sequence-list__text {
    padding-left: 40px;
}

.head-three {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    color: #FFFFFF;
}

.app-work-text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.7em;
    color: #FFFFFF;
    padding-top: 15px;
}

.app-work-content__right-side {
    background: url(assets/images/mobile-two-background.png) center no-repeat;
    background-size: cover;
}

.mobile-two {
    display: block;
    margin: auto;
}

.screenshots {
    height: 820px;
}

.screenshots-content {
    padding-top: 60px;
}

.screenshots-content .head-two {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.screenshots-content .head-two::after {
    content: "";
    display: block;
    width: 63px;
    height: 2px;
    position: absolute;
    left: calc(50% - 63px/2);
    bottom: -10px;
    background: #FE724C;
}

.mobiles-slider-block {
    position: relative;
    padding: 0 40px 0;
}

.arrow {
    position: absolute;
    top: calc(50% - 20px);
    cursor: pointer;
}

.arrow__left {
    left: 0px;
}

.arrow__right {
    right: 0px;
}

.mobile-screenshot img {
    display: block;
    width: 289px;
    height: 579px;
    margin: auto;
}

.clients-speak {
    height: 663px;
    background: #F4F5F7;
}

.clients-speak-content {
    padding-top: 65px;
}

.clients-speak-content .head-two {
    text-align: center;
    padding-bottom: 25px;
}

.clients-speak-abstract {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    color: #18191F;
    padding-bottom: 45px;
}

.testimonial__card {
    position: relative;
    width: 350px;
    height: 192px;
    border-radius: 10px;
    background: #FFFFFF;
    margin: auto;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
}

.testimonial__card::after {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    background: #FFFFFF;
}

.head-three {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2em;
    text-align: center;
    color: #18191F;
    padding: 25px 0 10px;
}

.clients-speak-text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
    color: #18191F;
    opacity: 0.8;
    padding: 0 25px 0;
}

.testimonial__client-details {
    padding-top: 30px;
}

.client-picture {
    display: block;
    margin: auto;
}

.full-name {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    color: #18191F;
    padding: 10px 0 5px;
}

.designation {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    color: #474A57;
}

.testimonials-slider .slick-dots li button::before {
    content: url(assets/images/none-selected-dot.svg);
    opacity: 1;
}

.testimonials-slider .slick-dots li.slick-active button::before {
    content: url(assets/images/selected-dot.svg);
    opacity: 1;
}











.footer {
    position: absolute;
    width: 1600px;
    height: 280px;
    top: 4236px;
    background: #000000;
}

.copyright {
    position: absolute;
    width: 226px;
    height: 24px;
    left: 201px;
    top: 180px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    color: #D9DBE1;
}

.app-download {
    position: absolute;
    width: 160px;
    height: 28px;
    left: 1116px;
    top: 121px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9DBE1;
}

.app-store-badge {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 1116px;
    top: 158px;
}

.google-play-badge {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 1264px;
    top: 158px;
}