* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.header {
    height: 853px;
    background: url(assets/images/background.png) no-repeat;
    background-size: cover;
}

.foodie-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.foodie-top-row__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
}

.navigation-top {
    width:80%;
}

.list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.list-top__item {
    list-style-type: none;
}

.list-top__link {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.login {
    padding: 10px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: #FE724C;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__left-side {
    width: 50%;
}

.head-one {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    color: #FFFFFF;
}

.header__abstract {
    font-family: Roboto;
    font-size: 17px;
    text-align: justify;
    color: #FFFFFF;
    margin: 30px 0 50px;
}

.top-buttons {
    display: flex;
    align-items: center;
}

.app-store-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FE724C;
    border-radius: 20px;
    padding: 10px 20px;
}

.google-play-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}

.logo-image {
    margin-right: 10px;
}

.logo-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
}












/* .mobile-one {
    margin: 20px;
} */



.image-group {
    display: flex;
    justify-content: space-between;
}

.image-group_row-one {
    position: absolute;
    width: 540px;
    height: 334px;
    left: 201px;
    top: 926px;
    align-items: flex-end;
}

.image-group_row-two {
    position: absolute;
    width: 540px;
    height: 356px;
    left: 201px;
    top: 1280px;
    align-items: flex-start;
}

.head-two {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.head-two_line-height_s {
    line-height: 22px;
}

.head-two_line-height_l {
    line-height: 64px;
}

.about__head-two {
    position: absolute;
    width: 191px;
    height: 22px;
    left: 800px;
    top: 968px;
}

.app-work__head-two {
    position: absolute;
    width: 544px;
    height: 22px;
    left: 199px;
    top: 113px;
    color: #FFFFFF;
}

.screenshots__head-two {
    position: absolute;
    width: 253px;
    height: 22px;
    left: 674px;
    top: 2832px;
    text-align: center;
}

.description__head-two {
    width: 1110px;
    height: 64px;
    text-align: center;
}

.rectangle {
    position: absolute;
    width: 63px;
    height: 2px;

}

.about__rectangle {
    left: 800px;
    top: 1010px;
    background: #EFCA08;
}

.app-work__rectangle {
    left: 201px;
    top: 159px;
    background: #FFFFFF;
}

.screenshots__rectangle {
    left: 769px;
    top: 2876px;
    background: #FE724C;
}

.about__abstract {
    position: absolute;
    width: 600px;
    height: 60px;
    left: 800px;
    top: 1034px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.about__content {
    position: absolute;
    width: 596px;
    height: 592px;
    left: 800px;
    top: 1127px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}

.app-work {
    position: absolute;
    width: 1600px;
    height: 1013px;
    top: 1740px;
    background: #FE724C;
}

.icon {
    position: absolute;
    left: 199px;
    
}

.icon_one {
    top: 261px;
}

.icon_two {
    top: 490px;
}

.icon_three {
    top: 720px;
}

.icon-circle {
    width: 109px;
    height: 109px;
    border-radius:54.5px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
}

.icon-image-one {
    position: absolute;
    left: 40.05px;
    top: 40.23px;
}

.icon-image-two-1 {
    position: absolute;
    left: 47.67px;
    top: 40.75px;
}

.icon-image-two-2 {
    position: absolute;
    left: 38.17px;
    top: 62.92px;
}

.icon-image-three-1 {
    position: absolute;
    left: 37.38px;
    top: 36px;
}

.icon-image-three-2 {
    position: absolute;
    left: 48.06px;
    top: 47.87px;
}

.head-three {
    position: absolute;
    height: 22px;
    left: 343px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;

}

.head-three_position-one {
    width: 145px;
    top: 261px;
}

.head-three_position-two {
    width: 208px;
    top: 481px;
}

.head-three_position-three {
    width: 147px;
    top: 719px;
}

.app-work__content {
    position: absolute;
    width: 384px;
    height: 121px;
    left: 343px;
    
    font-family: Roboto;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.app-work__content_one {
    top: 295px;
}

.app-work__content_two {
    top: 515px;
}

.app-work__content_three {
    top: 753px;
}

.mobile-two-background {
    position: absolute;
    width: 836px;
    height: 788px;
    left: 672px;
    top: 135px;
}

.mobile-two {
    position: absolute;
    left: 883px;
    top: 78px;
}

.mobile-two__frame {
    width: 432.77px;
    height: 858.85px;
}

.mobile-two__screen {
    position: absolute;
    width: 371.14px;
    height: 802.71px;
    left: 30.82px;
    top: 26.8px;
}

.mobile-slider {
    position: absolute;
    width: 289px;
    height: 579px;
    left: 654.5px;
    top: 2920px;
}

.mobile-screenshot__screen {
    position: relative;
    width: 252.03px;
    height: 546.68px;
    left: 18.82px;
    top: 17.5px;
}

.mobile-screenshot__frame {
    position: relative;
    width: 289px;
    height: 579px;
    top: -546.68px;
}

.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    cursor: pointer;
}

.arrow__left {
    left: -79.5px;
}

.arrow__right {
    right: -79.5px;
}

.clients-speak {
    position: absolute;
    width: 1600px;
    height: 663px;
    top: 3573px;
    background: #F4F5F7;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1110px;
    height: 104px;
    left: 245px;
    top: 54px;
}

.client-text {
    width: 1110px;
    height: 32px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
}

.testimonials-slider {
    position: absolute;
    width: 350px;
    height: 337px;
    left: 625px;
    top: 198px;
}

.clients-speak .testimonials-slider .testimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 337px;
}

.testimonial-text__card {
    width: 350px;
    height: 205px;
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
}

.testimonial-text__background {
    width: 350px;
    height: 205px;
}

.testimonial-text__title {
    position: relative;
    width: 270px;
    height: 32px;
    left: 40px;
    top: -185px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #18191F;
}

.testimonial-text__content {
    position: relative;
    width: 303px;
    height: 144px;
    left: 25px;
    top: -176px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #18191F;
    opacity: 0.8;
}

.testimonial-text__client-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    height: 116px;
}

.client-picture {
    width: 56px;
    height: 56px;
}

.full-name {
    width: 256px;
    height: 28px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #18191F;
}

.designation {
    width: 256px;
    height: 24px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #474A57;
}

.testimonials-slider .slick-dots li button::before {
    content: url(Images/none-selected-dot.svg);
    opacity: 1;
}

.testimonials-slider .slick-dots li.slick-active button::before {
    content: url(Images/selected-dot.svg);
    opacity: 1;
}

.footer {
    position: absolute;
    width: 1600px;
    height: 280px;
    top: 4236px;
    background: #000000;
}

.copyright {
    position: absolute;
    width: 226px;
    height: 24px;
    left: 201px;
    top: 180px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    color: #D9DBE1;
}

.app-download {
    position: absolute;
    width: 160px;
    height: 28px;
    left: 1116px;
    top: 121px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9DBE1;
}

.app-store-badge {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 1116px;
    top: 158px;
}

.google-play-badge {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 1264px;
    top: 158px;
}